.inline-screenshot {
  position: relative;

  img {
    display: none;
    max-width: initial;
    border-style: dotted;
    border-width: 1px;
    z-index: 1;
  }

  a:hover + img {
    display: block;
    position: absolute;
    left: 0px;
    top: 20px;
  }
}

header {
  border-bottom: 1px solid lightgray;
  margin-top: 24px;
  margin-bottom: 16px;
  padding-bottom: 8px;

  h2 {
    border-bottom-style: hidden !important;
    display: inline;    
  }

  time {
    float: right;
  }
  
  time::before {
    content: " # ";
  }
}
