---
layout: default
---

{% assign nav_pages = site.pages | where: 'lang', page.lang | where_exp: "p", "p contains 'nav'" | sort: "nav" %}

<div class="page-container">

<nav class="page-nav">
<ul>
{% for nav_page in nav_pages %}
<li>
{% if page.url == nav_page.url %}
<a class="active">{{ nav_page.title }}</a>
{% else %}
<a href="{{ nav_page.url | relative_url }}">{{ nav_page.title }}</a>
{% endif %}
</li>
{% endfor %}
</ul>
</nav>

<div class="page-content">

{{ content }}

<div class="page-footer">
<span>contact: support [at] nomad-net.info</span>
<span class="lang-selector">
language: 
{% if page.lang == "en" %}
en
{% else %}
<a href="{{ page.url | replace: "/ru/", "/en/" | relative_url }}">en</a>
{% endif %}
/
{% if page.lang == "ru" %}
ru
{% else %}
<a href="{{ page.url | replace: "/en/", "/ru/" | relative_url }}">ru</a>
{% endif %}
</span>
</div>

</div>

</div>